.form-control{
  height: 60px;
}
.btn-dark{
  height: 60px;
}

.result{
  font-size: 18px;
}
.result span{
  font-size: 30px;
  font-weight: 600;
  color: green;
}
.lead{
  font-size: 25px;
}
/* CSS NAVBAR */
.navbar{
  height: 120px;
  border-bottom: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.3);
}
.nav-icon{
  font-size: 50px;
}
.navbar-brand{
  padding-top: 50px;
  font-size: 40px;
}
.navbar-brand span{
  color: #dc3545;
}
.form-inline{
  padding-top: 44px;
}

/* CSS HENING */
.hening{
  padding-top: 200px;
  min-height: 70vh;
  
}
.aviso{color: #27ae60;}

.msg-erro{
  color: #ff4d4d;
  font-size: 24px;
}
